img {
	width: 500px;
	height: 500px;
	object-fit: contain;
}

body {
	background-color: rgb(51, 12, 12);
	color: white;
}

.container {
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.header {
	text-align: center;
}

.image-body {
	text-align: center;
}
